*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}